<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650766422172-egcur3sr0uqqhgupph3njknqjslqtr9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650766422172-egcur3sr0uqqhgupph3njknqjslqtr9s</string>
	<key>API_KEY</key>
	<string>AIzaSyDfMMOTVEJMabFI8KffpgkeL-miwNCmm0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>650766422172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hypnohand</string>
	<key>PROJECT_ID</key>
	<string>hypnohands-178b7</string>
	<key>STORAGE_BUCKET</key>
	<string>hypnohands-178b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650766422172:ios:a7e99bdb38fb178e795d59</string>
</dict>
</plist>